<div class="row">
    <div class="col s12">
        <table>
            <thead>
                <th>Item Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>               
            </thead>
            <tbody>
                <tr *ngFor="let cart of cartItems">
                    <td>{{cart.name}}</td>
                    <td>{{cart.price}}</td>
                    <td>{{cart.available_quantity}}</td>
                    <td>{{cart.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>