<div class="row ">
  <div class="col s12 top-header">
    <h6>Children Toys</h6>
  </div>
</div>
<div class="row">
    <div class="col s2">
        <ul style="list-style: none;">
            <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" >HOME</a></li>
            <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" >ALL CATEGORIES</a></li>
        </ul>
    </div>
    <div class="col s10">
        <router-outlet></router-outlet>        
    </div>
  
  
</div>