.add-cart{
    // float: right;
    padding: 1rem;
    background: green;
    color: #ffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.goto-cart{
    margin-left: 1rem;
    padding: 1rem;
    background: green;
    color: #ffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.card-image{
    img{
        height: 240px;
    }
}
.card-title{
    height: 50px;
    font-size: 18px;
}