<div class="row">
  <!-- <p *ngIf="showMessage"></p> -->
  <div class="col s4" *ngFor="let product of catByProductList">
    <div class="card" >
      <div class="card-image">
        <img [src]="product.image">
      </div>
      <div class="card-content">
        <p class="card-title">Title: {{product.name}}</p>
        <p>Quantity:{{product.available_quantity}}</p>
        <span>Price: {{product.price}}</span><br/>
        <button type="button" class="add-cart" (click)="addCartPage(product.product_id)">Add to cart</button>
        <button type="button" class="goto-cart" (click)="gotoCart()">Go to cart</button>
      </div>
    </div>
  </div>
</div>
