.cat-heading{
    margin: 0px 0px 0px 1em;
}

.card-image{
    img{
        width: 200px;
        height: 150px;
        cursor: pointer;
    }
}

.card{
    cursor: pointer;
}

.card-content{
    p{
        height: 60px;
    }
}