<div class="row">
    <h6 class="cat-heading">Categeories</h6>
    <div class="col s4" *ngFor="let category of categoriesList">
        <div class="card" (click)="gotoProductsPage(category.category_id)">
          <div class="card-image">
            <img [src]="category.image" >
          </div>
          <div class="card-content">
              <p>Category Name: {{category.name}}</p>
              <span>Description:{{category.description}}</span>
          </div>
        </div>
      </div>
</div>
